* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto-Light", sans-serif;
    background: #12253B;
    color: #8CAAC8;
}

ul {
    list-style: none;
}

body>* {
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #2B8CFC;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header__phone-btn,
.header__menu-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
}

.header__buttons {
    display: flex;
    gap: 2rem;
}

.header__phone-btn {
    background: no-repeat center / 65% url("../svg/phone.svg");
}

.header__menu-btn {
    background: no-repeat center / 65% url("../svg/hamburger.svg");
}

/* HERO */

.hero {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "text text"
        "img1 img1"
        "img2 img3"
        "img4 img3"
        "img4 img5";
    gap: 2rem;
}

.hero__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__card-large .hero__preview {
    aspect-ratio: 1 / 1;
}

.hero__card-small .hero__preview {
    aspect-ratio: 1 / 1;
}

.hero__card-medium .hero__preview {
    aspect-ratio: 9 / 16;
}

.hero__card-medium:last-child() {
    align-self: end;
}

.hero__card--austria {
    grid-area: img2;
}

.hero__card--france {
    grid-area: img3;
}

.hero__card--london {
    grid-area: img4;
}

.hero__card--straight {
    grid-area: img5;
}


.hero__text {
    grid-area: text;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "text img1"
            "img2 img1"
            "img2 img3"
            "img4 img3"
            "img4 img5";
        gap: 4rem;
    }
    
    .hero__card--austria {
        align-self: end;
    }  

    .hero__card--france {
        align-self: center;
    }

    .hero__text {
        text-align: left;
    }
    .hero__card--london {
        flex-direction: column-reverse;
    }

    .hero__card-large .hero__preview {
        aspect-ratio: 9 / 16;
    }

    .hero__card:last-child .hero__preview {
        aspect-ratio: 16 / 9;
    }

    .hero__card-small .hero__preview {
        aspect-ratio: 9 / 16;
    }
}

.h1,
.h2 {
    font-family: "Futura PT Medium", sans-serif;
    color: #BBA390;
    text-transform: uppercase;
    line-height: 2rem;
}

.h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.h2 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.hero__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    font-family: "Futura PT Medium", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.hero__link::after,
.offer-studios__link::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: .5rem;
    background: no-repeat center / 100% url("../svg/hero-arrow.svg");
}

.header__description {
    line-height: 1.5rem;
    color: #91A4B8;
}

.hero__card-large {
    grid-area: img1;
}



/* Offer dealers */

.offer-dealers,
.offer-studios,
.shops {
    margin: 3rem 0 3rem;
}

.offer-dealers__text {
    color: #5B82A9;
}

.offer-dealers__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.offer-dealers__item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.offer-dealers__item::before {
    content: "";
    display: block;
    min-width: 40px;
    min-height: 60px;
}

.offer-dealers__item:first-child::before {
    background: no-repeat center /90% url("../svg/video.svg");
}

.offer-dealers__item:nth-child(2)::before {
    background: no-repeat center /90% url("../svg/woman.svg");
}

.offer-dealers__item:nth-child(3)::before {
    background: no-repeat center /90% url("../svg/document.svg");
}

.offer-dealers__item:nth-child(4)::before {
    background: no-repeat center /90% url("../svg/catalogue.svg");
}

.offer-dealers__form {
    margin-top: 2rem;
}

.offer-dealers__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.offer-dealers__input {
    padding: 1rem;
    border: 1px solid #385980;
    font-family: "Roboto-Light-Italic", sans-serif;
    background: transparent;
    color: #5C82A8;
}

.offer-dealers__input::placeholder {
    font-family: "Roboto-Light-Italic", sans-serif;
    color: #5C82A8;
}

.offer-dealers__input:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .offer-dealers {
        text-align: center;
    }    
    .offer-dealers__list {
        flex-direction: row;
    }

    .offer-dealers__item {
        flex: 1;
        flex-direction: column;
    }
    .offer-dealers__form {
        width: 50%;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .offer-dealers__input {
        width: 100%;
        max-width: 295px;
    }
}


/* Offer Studios */

.offer-studios {
    text-align: center;
}

.offer-studios__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.offer-studios__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    background: #051627;
    border-radius: 2rem;
}

.offer-studios__card:last-child {
    flex-direction: row;
}

.offer-studios__card:last-child .offer-studios__title {
    text-align: left;
}

.offer-studios__card {
    flex-direction: column;
}

.offer-studios__title {
    color: #8CAAC8;
}

.offer-studios__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    color: #fff;
}

.offer-studios__link::before {
    content: "";
    position: absolute;
    display: block;
    min-width: 263px;
    height: 1px;
    margin-top: .5rem;
    background-color: #7E8895;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.offer-studios__image {
    width: 80%;
    max-height: 80px;
    object-fit: contain;
}

@media screen and (min-width: 600px) {
    .offer-studios__card {
        flex-direction: row;
    }
}


/* Shops */

.shops {
    text-align: center;
}

.shops__text {
    display: block;
    margin: 1.5rem 0 2rem;
}

.shops .primary-btn {
    margin: 0 auto;
}

.shops__grid {
    display: none;
}

@media screen and (min-width: 600px) {
    .shops {
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
        overflow: hidden;
    }  

    .shops__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .shops .primary-btn {
        margin: 0;
    }

    .shops__grid {
        width: 30%;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 40% 10% 7% 13% 20% 10%;
        gap: 1rem;
        grid-template-areas: 
            "big big big med med med"
            "sm1 sm1 sm2 sm2 sm3 emp2"
            "emp3 emp sm4 sm4 emp4 emp5";
    }


    .shops__grid-item {
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background: #122E4A;
        padding: 2rem 1rem;
    }

    .shops__logo {
        width: 50%;
    }
    
    .shops__grid-item-big {
        grid-area: big;
    }

    .shops__grid-item-medium {
        grid-area: med;
        align-self: end;
    }

    .shops__grid-item-medium .shop__company-name {
        font-size: .8rem;
    }

    .shops__grid-item-small {
        min-width: 72px;
        min-height: 72px;
    }

    .shops__grid-item-small-1 {
        grid-area: sm1;
        justify-self: end;
    }

    .shops__grid-item-small-2 {
        grid-area: sm2;
    }

    .shops__grid-item-small-3 {
        grid-area: sm3;
        align-self: stretch;
    }

    .shops__grid-item-small-4 {
        grid-area: sm4;
    }
}


/* Footer */

.footer {
    width: 100%;
}

.footer__logo {
    width: 35%;
    max-width: 135px;
    margin-bottom: 1.5rem;
}

.footer__products,
.footer__offers,
.footer__contacts,
.footer__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__products {
    background: #2A486B;
}

.footer__products .footer__link {
    font-family: "Roboto-Regular", sans-serif;
    color: #fff;
}

.footer__offers {
    background: #203B5A;
}

.footer__contacts {
    background: #18304C;
}

.footer__phone {
    margin-bottom: 1rem;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1rem;
    color: #fff;
}

.footer__address {
    max-width: 145px;
    margin-bottom: 2rem;
    font-family: "Roboto-Light", sans-serif;
    font-style: normal;
    color: #fff;
}

@media screen and (min-width: 600px) {
    .footer {
        display: flex;
    }

    .footer__products {
        flex: 2;
    }

    .footer__offers {
        flex: 1;
    }

    .footer__contacts {
        flex: 2;
    }

    .footer__meta {
        display: none;
    }

    .footer__list {
        flex-direction: row;
        flex-wrap: wrap;
    } 
}