* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto-Light", sans-serif;
    background: #12253B;
    color: #8CAAC8;
}

ul {
    list-style: none;
}

body > * {
    width: 87%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #2B8CFC;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header__phone-btn, .header__menu-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
}

.header__buttons {
    display: flex;
    gap: 2rem;
}

.header__phone-btn {
    background: no-repeat center / 65% url("../svg/phone.svg");
}

.header__menu-btn {
    background: no-repeat center / 65% url("../svg/hamburger.svg");
}

/* HERO */

.hero {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 224px 122px 55px auto;
    grid-template-areas:
    "text text"
    "img1 img1"
    "img2 img3"
    "img4 img3"
    "img4 img5";
    gap: 4rem 2rem;
    margin-bottom: 5rem;
}

.hero__text {
    grid-area: text;
    text-align: center;
}

.h1 , .h2 {
    font-family: "Futura PT Medium", sans-serif;
    color: #BBA390;
    text-transform: uppercase;
    line-height: 2rem;
}

.h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.h2 {
   font-size: 1.3rem;
   margin-bottom: .5rem;
}

.hero__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    font-family: "Futura PT Medium", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.hero__link::after, .offer-studios__link::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: .5rem;
    background: no-repeat center / 100% url("../svg/hero-arrow.svg");
}

.header__description {
    line-height: 1.5rem;
    color: #91A4B8;
}

.hero__card-large {
    grid-area: img1;
}

.hero__card-3 {
    grid-area: img3;
}

.hero__card-4 {
    align-self: start;
    grid-area: img4;
}

.hero__card-5 {
    grid-area: img5;
}

/* Offer dealers */

.offer-dealers, .offer-studios, .shops {
    margin: 3rem 0 3rem;
}

.offer-dealers__text {
    color: #5B82A9;
}

.offer-dealers__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.offer-dealers__item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.offer-dealers__item::before {
    content: "";
    display: block;
    min-width: 40px;
    min-height: 60px;
}

.offer-dealers__item:first-child::before {
    background: no-repeat center /90% url("../svg/video.svg");
}

.offer-dealers__item:nth-child(2)::before {
    background: no-repeat center /90% url("../svg/woman.svg");
}

.offer-dealers__item:nth-child(3)::before {
    background: no-repeat center /90% url("../svg/document.svg");
}

.offer-dealers__item:nth-child(4)::before {
    background: no-repeat center /90% url("../svg/catalogue.svg");
}

.offer-dealers__form {
    margin-top: 2rem;
}

.offer-dealers__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.offer-dealers__input {
    padding: 1rem;
    border: 1px solid #385980;
    font-family: "Roboto-Light-Italic", sans-serif;
    background: transparent;
    color: #5C82A8;
}

.offer-dealers__input::placeholder {
    font-family: "Roboto-Light-Italic", sans-serif;
    color: #5C82A8;
}

.offer-dealers__input:focus {
    outline: none;
}


/* Offer Studios */

.offer-studios {
    text-align: center;
}

.offer-studios__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.offer-studios__card {
    display: flex;
    flex: 1;
    padding: 1rem;
    background: #051627;
    border-radius: 2rem;
}

.offer-studios__card:nth-child(1), .offer-studios__card:nth-child(2) {
    flex-direction: column;
} 

.offer-studios__title {
    color: #8CAAC8;
}

.offer-studios__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    color: #fff;
}

.offer-studios__link::before {
    content: "";
    position: absolute;
    display: block;
    min-width: 263px;
    height: 1px;
    margin-top: .5rem;
    background-color: #7E8895;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

